
span {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.singleProductContainer {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.singleProductCategory img {
  width: 32px;
}

// .singleProductInfoContainer {
//   position: relative;
// }

.productImage {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.productText {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  width: 100%;
  h3 {
    margin-top: 0;
  }
  p {
    margin-top: 0;
  }
}

.singleProductDataContainer {
  // position: absolute;
  // bottom: 5px;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  margin-top: 20px;
  padding: 5px;
  p {
    font-size: 9px;
    margin: 0;
    padding: 0;
  }
  .productRating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
