body {
  background-color: #f0f0f0;
  margin: 20px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.wrapper {
  margin: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 0 15px;
  height: 50px;

  .navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-left: 20px;
      color: #fff;
      font-size: 12px;
    }

    a {
      text-decoration: none;
    }
  }
}
