.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
  margin: 0;
  height: 50px;

  .navbarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin-left: 20px;
      color: #fff;
      font-size: 12px;
    }

    a {
      text-decoration: none;
    }
  }

  .navbarLogo {
    display: flex;
    align-items: center;
  }
}
