.topProductsListContainer {

  .singleProductContainer {
    display: flex;
    flex-direction: row;
    height: 230px;
  }
  .singleProductInfoContainer {
    width: 60%;
  }

  .productImage {
    width: 40%;
  }
  
}
