.topProductsListContainer {

  .singleProductContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 230px;
  }
  .singleProductInfoContainer {
    width: 60%;
  }

  .productImage {
    width: 40%;
  }

  a {
    margin: 0;
    padding: 0;
  }
}
